{% extends 'base.html.twig' %}

{% block title %}Bund des wahren Glaubens - Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    {% if error %}
                        <div class="error">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Username"/>
                            </div>
                            <div class="col-md-6">
                                <input type="password" class="form-control" id="password" name="_password" placeholder="Passwort"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
