{% extends 'base.html.twig' %}

{% block title %}Bund des wahren Glaubens - Hausregeln{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Hausregeln</div>
                <div class="card-body">
                    coming soon...
                </div>
            </div>
        </div>
    </div>
{% endblock %}
