{% extends 'base.html.twig' %}

{% block title %}Bund des wahren Glaubens{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img class="logo" src="images/logo.png" style="display:block;margin:20px auto;"/>
        </div>
    </div>
</div>

{% endblock %}
