{% extends 'base.html.twig' %}

{% block title %}Bund des wahren Glaubens - Kontakt{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Kontakt</div>
                <div class="card-body">...</div>
            </div>
        </div>
    </div>
{% endblock %}
