<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom bg-dark">
    <div class="container">
        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <div class="text-center text-md-left">© 2020 Copyright:
                        <strong> Bund des wahren Glaubens</strong>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Links -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="nav-link" href="{{ path('datenschutz') }}">Datenschutz</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link" href="{{ path('impressum') }}">Impressum</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>
</footer>
<!-- Footer -->